
<div class="container">
  <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-sm-12 col-xl-11">
          <div class="" >
              <div class="card-body mt-5 ">
                  <div class="row justify-content-center">
                      <div class="col-md-5 col-sm-3 col-xl-5 order-2 order-lg-1">

                          <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-2 mt-3">GİRİŞ YAP</p>

                          <div class="form-group mx-1 mx-md-1">
                              <div class="d-flex flex-row align-items-center mb-2">
                                  <div class="form-outline flex-fill mb-0">
                                      <label class="form-label" for="userName">Kullanıcı Adı & E mail*</label>
                                      <input #txtUsernameOrEmail type="text" id="userName" class="form-control" />
                                      <small  id="userName" class="form-text invalid-feedback" style="color:red;">Kullanıcı adı boş olamaz</small>
                                      <small  id="userName" class="form-text invalid-feedback" style="color:red;">Kullanıcı adı  5-50 karakter arasında olmalıdır</small>
                                  </div>
                              </div>

                              <!-- <div class="d-flex flex-row align-items-center mb-2">
                                  <div class="form-outline flex-fill mb-0">
                                      <label  class="form-label" for="email">E-mail *</label>
                                      <input placeholder="abc@exapmle.com"  formControlName="email"  type="email" id="email" class="form-control" />
                                      <small  id="email" class="form-text invalid-feedback" style="color:red;">Email boş olamaz</small>
                                      <small  id="email" class="form-text invalid-feedback" style="color:red;">Lütfen mail formatını düzgün giriniz</small>
                                  </div>
                              </div> -->

                              <div class="d-flex flex-row align-items-center mb-2">
                                  <div class="form-outline flex-fill mb-0">
                                      <label  class="form-label" for="password">Şifre *</label>
                                      <input #txtPassword  type="password" id="password" class="form-control" />
                                      <small  id="password" class="form-text invalid-feedback" style="color:red;">Lütfen şifre oluşturunuz</small>
                                      <small  id="password" class="form-text invalid-feedback" style="color:red;">Şifre uzunluğu 6-30 karakter arasında olmalıdır</small>
                                  </div>
                              </div>


                           

                          <div class="d-grid gap-2 mt-3">
                              <button type="submit" class="btn btn-primary btn-block" (click)="login(txtUsernameOrEmail.value,txtPassword.value)">Giriş yap</button>
                          </div>
                          <div>
                            
                            <div class="d-grid gap-2 mt-3">
                                <google-signin-button [selectable]="showGoogleLogin"></google-signin-button>
                            </div>
                          </div>
                      </div>
                  </div>
                     <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                          <img src="../../../../../assets/sign-up.png"
                               class="img-fluid" alt="Sample"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






