.product-container {
  width: 100%;
  height: 100%;
  background-color: white;

}
.product-side-size{
  width: 15%;
  border-right: 2cap;
  border-right-color: green;
  border-right-style:dotted ;
}

.btn{
  margin: 5px;
}
