<div class="sidebar">
  <div class="sidebar-categories area">
    <a
      href="#sidebar-categories"
      class="sidebar-title"
      data-bs-toggle="collapse"
      >Categories</a
    >
    <hr />

    <div id="sidebar-categories" class="collapse show">
      <ul class="sidebar-list">
        <li>
          <a >Category 1 <span>(100)</span></a>
        </li>        <li>
          <a >Category 2 <span>(52)</span></a>
        </li>        <li>
          <a >Category 3 <span>(8)</span></a>
        </li>        <li>
          <a >Category 4 <span>(60)</span></a>
        </li>        <li>
          <a>Category 5 <span>(85)</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar-sort area">
    <a href="#sidebar-sort" class="sidebar-title" data-bs-toggle="collapse"
      >Sort By</a
    >
    <hr />

    <div id="sidebar-sort" class="collapse show">
      <ul class="sidebar-list">
        <li><a>Product title (A-z)</a></li>
        <li><a>Product title (Z-a)</a></li>
        <li><a>Price: Lowest to Highest</a></li>
        <li><a>Price: Highest to Lowest</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar-filter area">
    <a href="#sidebar-filter" class="sidebar-title" data-bs-toggle="collapse"
      >Filter by price</a
    >

    <hr />

    <div id="sidebar-filter" class="collapse show">
      <ul class="sidebar-list">
        <li><a>$0 - $100</a></li>
        <li><a>$100 - $500</a></li>
        <li><a>$1000 - $2000</a></li>
        <li><a>$1000 - $2000</a></li>
        <li><a>$2000 - $5000</a></li>
      </ul>
    </div>
  </div>
</div>
