<div class="container">
    
    <div class="card">
        <img src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Sepete Ekle</button>
        </div>
    </div>

    <div class="card">
        <img class="" src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Show the property project</button>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Show the property project</button>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Show the property project</button>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Show the property project</button>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/sign-up.png" />
        <div>
            <h2>Invest in Valby's sparkling new construction</h2>
            <h3>Type: Residential rental</h3>
            <p>
                Soon you can invest in Sid Harman's new attractive property, set in
                the heart of Athens.
            </p>
            <button>Show the property project</button>
        </div>
    </div>




</div>